



.bar:hover{
  fill:blue;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

body, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 11pt;
}

body {
  margin: 5px;
  padding: 0px;

  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */
  background-color: whitesmoke;
}

textarea {
  /* position the textarea on top of the svg */
  position: fixed;
  top: 5px;
  left: 5px;

  margin: 0px;
  padding: 5px;

  width: 400px;
  height: 75px;

  /* try changing this color in blockbuilder! */
  background-color: rgba(255, 255, 255, 0.8);
}

textarea, svg {
  border: 1px solid gainsboro;
  border-radius: 10px;
}

svg {
  /* bl.ocks.org defaults to 960px by 500px */
  width: 960px;
  height: 700px;

  background-color: white;
}

/* svg elements are styled differently from html elements */

/*(rect.bar {
  stroke: none;
  fill: #00543c;
}*/

#x-axis text,
#y-axis text {
  font-size: 10pt;
  fill: #888888;
}

#x-axis line {
  /* tick marks */
  fill: none;
  stroke: none;
}

#x-axis path,
#y-axis path,
#y-axis line {
  fill: none;

  stroke: #bbbbbb;
  stroke-width: 1px;
}
